<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Guestbook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <Guestbook.Properties.Settings>
      <setting name="ImagesFolder" serializeAs="String">
        <value>Images</value>
      </setting>
      <setting name="ButtonVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseAnimation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Background" serializeAs="String">
        <value>livre2.jpg</value>
      </setting>
      <setting name="ButtonLeft" serializeAs="String">
        <value>0.6875</value>
      </setting>
      <setting name="ButtonTop" serializeAs="String">
        <value>0.865</value>
      </setting>
      <setting name="ButtonWidth" serializeAs="String">
        <value>0.1735</value>
      </setting>
      <setting name="ButtonHeight" serializeAs="String">
        <value>0.065</value>
      </setting>
    </Guestbook.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>